@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.app {
  min-height: 100vh;
  display: grid;
  place-items: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Jasny motyw */
.app.light {
  background: #e2d4ff; /* Jasne tło */
  color: #333; /* Ciemny tekst */
}

/* Ciemny motyw */
.app.dark {
  background: #2f2f2f; /* Ciemne tło */
  color: #fff; /* Jasny tekst */
}

/* Przycisk zmiany motywu */
.theme-toggle {
  position: absolute;
  top: 80px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  background: #4caf50;
  color: #fff;
}

.app.light .theme-toggle {
  background: #007bff;
  color: white;
}

.app.dark .theme-toggle {
  background: #ffa500;
  color: black;
}

.theme-toggle span {
  font-size: 18px; /* Ikona */
}